<!DOCTYPE html>
<html>
  <head>
    <title>Hobby Predictor</title>
  </head>
  <div
    style="width: 100vw; height: 144px; background: white; text-align: center"
  >
    <img
      style="
        width: 55px;
        height: 55px;
        top: 44px;
        border-radius: 333px;
        display: inline-block;
        margin-right: 10px;
      "
      src="C:\Users\shame\Downloads\WhatsApp Image 2023-12-04 at 10.40.26_fd23705b.jpg"
    />
    <div
      style="
        color: black;
        font-size: 33px;
        font-family: Quicksand;
        font-weight: 700;
        word-wrap: break-word;
        display: inline-block;
        margin-right: 20px;
        margin-bottom: 40px;
      "
    >
      Kids Hobby Predictor
    </div>
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    <div
      style="
        color: black;
        font-size: 27px;
        font-family: Quicksand;
        font-weight: 500;
        word-wrap: break-word;
        display: inline-block;
      "
    >
      About
    </div>
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    <div
      style="
        color: black;
        font-size: 27px;
        font-family: Quicksand;
        font-weight: 500;
        word-wrap: break-word;
        display: inline-block;
        margin-right: 20px;
      "
    >
      Privacy and Data Security
    </div>
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
  </div>
  <div style="width: 100vw; height: calc(100vh - 144px); overflow: hidden">
    <img
      style="width: 100%; height: 100%; object-fit: cover"
      src="C:\Users\shame\Downloads\WhatsApp Image 2023-12-04 at 10.40.27_e3872a4e.jpg"
    />
  </div>
  <body>
    <h1>Predict Your Hobby Now</h1>
    <form action="/predict" method="POST">
      <label for="school">School:</label>
      <input type="number" name="school" required /><br />

      <label for="olympiad_participation">Olympiad Participation:</label>
      <input type="number" name="olympiad_participation" required /><br />

      <label for="fav_sub">Favorite Subject:</label>
      <input type="number" name="fav_sub" required /><br />

      <label for="projects">Projects:</label>
      <input type="number" name="projects" required /><br />

      <label for="grasp_pow">Grasping Power:</label>
      <input type="number" name="grasp_pow" required /><br />

      <label for="time_sprt">Time Spent on Sports:</label>
      <input type="number" name="time_sprt" required /><br />

      <label for="medals">Number of Medals:</label>
      <input type="number" name="medals" required /><br />

      <label for="career_sprt">Career in Sports:</label>
      <input type number="number" name="career_sprt" required /><br />

      <label for="act_sprt">Active in Sports:</label>
      <input type="number" name="act_sprt" required /><br />

      <label for="fant_arts">Interest in Fantasy Arts:</label>
      <input type="number" name="fant_arts" required /><br />

      <label for="won_arts">Number of Art Competitions Won:</label>
      <input type="number" name="won_arts" required /><br />

      <label for="time_art">Time Spent on Arts:</label>
      <input type="number" name="time_art" required /><br />

      <input type="submit" value="Predict" />
    </form>
    {% if prediction %}
    <h2>{{ prediction }}</h2>
    {% endif %}
  </body>
</html>
